html
  head
    link(rel='stylesheet' href='/stylesheet.css')
    script(src="marked.js")
    title Hello Web Servers
  body
    include sidebar.pug
    include header.pug
    include editor.pug
    include preview.pug

    script(src='index.js')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
